@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pinyon+Script&display=swap');

/* *************** Main and NavBar ************** */
.App{
  display: grid;
  grid-template-rows: .5fr 4fr;
}
.main{
  background-color: rgb(174, 206, 248);
}
.navbarHome{
grid-row: 1;
  /* background-image: url("./Images/cross-in-stained-window.png"); */
  /* background-image: url("./Images/dove-in-sky3.png"); */
  background-size: contain;
  width: 100vw;
  height: 135px;
  /* border-bottom: .75em solid burlywood */
  margin-left: -0.4vw;
}

.navbarIndex{
  grid-row: 1;
  background-size: contain;
  width: 100vw;
  height: 135px;
  margin-left: -0.4vw;
  }

  .navBarNew{
    height: 100vh;
  }

.navLinkBox{
  /* background-image: url("./Images/stained-window-blue-pink-small.png"); */
  background-size: contain;
  background-repeat:no-repeat;
  /* border: 1px solid antiquewhite; */
  height: 18vh;
  width: 98vw;
  margin-left: .5vw;
  z-index: 10;
  top: 5vh;
  position: relative;
  /* border-radius: 5%; */
}

.navBarHdg{
  /* color: gold; */
  /* font-family: 'Imperial Script', cursive; */
  font-family: 'Oleo Script', cursive;
/* font-family: 'Pinyon Script', cursive; */
  text-align: center;
  font-size: 4.5em;
  margin-left: 1.5em;
  /* grid-column-start: 2;
  grid-column-end: 5; */
  text-decoration: none;
}

.navLinkHdg, .navLink1, .navLink2 {
  color: rgba(14, 5, 60, 0.695);
  /* background-color: rgba(184, 120, 37, 0.589); */
  margin: 20px;
  height: 5vh;
  width: 5vh;
  font-weight: bold;
 
}
.navLinkHdg{
  /* color:rgb(49, 9, 76); */
  /* color:rgb(14, 228, 247); */
  /* color: gold; */
  font-weight:bold;
  font-size: 2.5em;
  margin-bottom: 10vh;
  /* background-color:rgba(241, 235, 186, 0.7); */
  /* font-family: 'Oleo Script', cursive; */
  font-stretch: 150%;
  margin-left: 17vw;
  font-weight:bold;
  font-family: 'Pinyon Script', cursive;
}

.navLink1, .navLink2{
  font-size: 1.5em;
  font-weight:bold;
  margin-left: 7vw;
}
 .navLink2{
  margin-left: 15vw;
}

.navIndexLinkHdg{
  margin-left: 19vw;
}
.navIndexLinkHdg, .navIndexLink1, .navIndexLink2 {
  color:rgba(242, 184, 75, 0.857)
}

#navbarVideo{
  margin: "0 auto";
  z-index: -100;
  height: 78vh;
  width: 100vw;
  /* z-index: -100; */
  position: absolute;
  object-fit: fill;
}

/* .starIcon{
font-size: .5em;
} */

/* ******** NavBar Buttons ********* */

/* .acctTotalNav{
  color:gold;
  grid-column: 3;
  grid-row: 2;
  margin-left: 12vw;
  font-weight: lighter;
  background-color: #51585e93;
  width: 21vw;
  font-style: italic;
  border: 1px solid rgba(215, 252, 240, 0.781);
  text-align: center;
} */

/* .announcementsLink, .newannouncementLink{
  color:goldenrod;
  text-decoration: none;
}

.announcementsLink:hover, .newAnnouncementLink:hover{
  color:antiquewhite;
  text-decoration:underline;
} */

/* .announcementsListButton{
  background-color: #7080902d;
  font-size: 1.5em ;
  font-weight: bold;
  margin-left: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 12vw;
  height: 42px;
} */

/* .newAnnouncementButton{
  background-color: #7080902d;
  font-size: 1.5em ;
  font-weight: bold;
  grid-column: 5;
  grid-row: 2;
  width: 14vw;
  height: 42px;
  margin-left: 5vw;
} */







.announcmentsComponent{
  grid-row: 2;
  grid-template-rows: auto;
  min-height: 5vh;
  min-width: 6vw;
  height: 100vh;
  width: 99vw;
  padding-left: .5vw;
 
}
.indexPageHdg{
  color:rgba(229, 175, 68, 0.937);
  text-align: center;
  font-size: 3em;
  font-family: 'Meie Script', cursive;
  background-color: #48370e7e;
}
.indexBox{
  /* grid-column-start: 2;
  grid-column-end: 7; */
  /* background-image: url("./Images/cross-in-stained-window.png"); */
  background-color: rgba(246, 180, 93, 0.545);
  height: 55vh;
  width: 72vw;
  border: 7px solid rgb(0, 4, 128);
  background-size: 50%;
  margin: 0 auto;
  font-weight: bolder;
} 

.indexItem{
  font-family: Arial, Helvetica, sans-serif;
  font-family: bold;
  color:navy;
  font-size: 1.4em;
}


 /* ************* General Setup of Pages ************** */

.welcomeMsgBox{
  /* background-color: rgba(246, 246, 233, 0.331); */
  width: 56.5vw;
  height: 78vh;
  margin-left: 19.3vw;
  border: 2px solid rgb(196, 189, 170);
  margin-top: 3vh;
  background-image: url("./Images/goldFrame.png");
  background-color: rgba(248, 245, 236, 0.953);
  background-size:contain ;
  opacity: 0.7;
}

.welcomeMsg1{
  font-size: 2.8em;
  text-align: center;
  height: 10vh;
  font-family: 'Imperial Script', cursive;
  color: rgb(136, 22, 244);
  width: 98%;
  font-style: italic;
  font-weight: bold;
  margin-left: -0.01vw;
  margin-top: 12vw;
}
.welcomeMsg2{
  font-size: 1.8em;
  text-align: center;
  font-family: 'Meie Script', cursive;
  color: rgb(15, 15, 201);
  width: 69%;
  height: 8vh;
  font-weight: lighter;
  margin-left: 10.33vw;
}

.homePage{
  height: 90vh;
  width: 100vw;
  background-image: url("./Images/church-indoors-whitewalls-woodcharis.png");
  background-color: rgb(158, 211, 224);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -0.4vw;
  border-top: 13px solid rgb(168, 183, 198);
}

.newPage, .editPage, .showPage{
  height: 90vh;
  width: 100vw;
  background-image: url("./Images/cross-in-stained-window.png");
  background-color: rgb(20, 118, 238);
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-size: cover;
}

.newPage{
  height: 80vh;
  width: 100vw;
  /* background-image: url("./Images/cross-in-stained-window.png"); */
  /* background-color: rgb(42, 22, 9); */
  z-index: 500;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-size: cover;
  margin-top: 5vw;
}



/* ************ New Announcement Form ************* */

.newAnnouncementFormHdg, .editAnnouncementFormHdg{
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  font-family: 'Meie Script', cursive;
   font-family: 'Barlow', sans-serif; 
   font-family: 'Imperial Script', cursive; 
  color: rgb(222, 180, 238);
}

.newForm{
  width: 55vw;
  background-color: beige;
  opacity: .8;
  border: 3px solid deeppink;
  margin-top: 1em;
  margin: 6em auto;
}

.editAnnouncementFormHdg{
  color:rgb(13 69 33)}
  
.newAnnouncementFormBox, .editAnnouncementForm{
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("./Images/cross-in-stained-window.png");
  font-weight: bold;
  height: 71vh;
  border: 4px solid rgb(7, 15, 94);
}

.editAnnouncementFormBkgrd{
  background-color: rgba(248, 208, 158, 0.585);
  height: 76vh;
  margin: auto auto;
  border: 5px solid rgb(40, 21, 7);
  width: 35vw;
  
}
.editAnnouncementForm{
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("./Images/bibleAndheart.png");
  font-weight: bold;
  height: 85vh;
  border: 4px solid rgb(45, 15, 198);
  background-size: cover;
  width: 55vw;
}
label.editAnnouncmentForm{
  margin-left: 2.8vw;
  padding-right: 2vw;
  width: 4vw;
}

.editForm{
  background-color: rgba(228, 166, 109, 0.807);
  border: 4px solid rgba(81, 28, 10, 0.731);
}

input#item-name{
  margin-left: 2.8vw;
  padding-right: 2vw;
  width: 4vw;
}

label {
margin-left: 9.8vw;
padding-right: 2vw;
}
input[type="text" i], input[type="number" i], input[type="date" i] {
  width: 20.6vw;
}

input#amount{
  margin-left: 1.5vw;
}
input#from{
  margin-left: 2.8vw;
}
input#date{
  margin-left: 3.28vw;
}
input#category{
  margin-left: .9vw;
}
input#description{
  margin-left: -.39vw;
}

input[type="submit" i]{
  /* margin-left: 20.4em; */
  margin-left: 17.6vw;
  width: 10.6vw;
  font-weight: bold;
}
input[type="submit" i]:hover, .cancelEditButton:hover, .cancelSaveButton:hover{
  background-color: rgb(8, 47, 7);
  color:gold;
}

/* ******* New Announcement Form Buttons */

.cancelEditButton, .cancelSaveButton{
  width: 10.2vw;
  margin-left: .5vw;
  font-weight: bold;
}

/* ****** Edit Form Buttons ***** */

.backButton, .editButton, .deleteButton{
  background-color: mintcream;
  color: darkgreen;
  height: 5vh;
}

.backButton:hover, .editButton:hover, .deleteButton:hover{
  background-color: aquamarine;
}

label.editLabel{
  margin-left: .8vw;
}

input[type="submit" i]{
  margin-left: 8.6vw;
}
/* ************ announcement Details ************* */

 .announcementDetailsHdg{
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  font-family: 'Meie Script', cursive;
  font-family: 'Barlow', sans-serif; 
  font-family: 'Imperial Script', cursive; 
  color: rgb(197, 197, 26);
}

.itemDetailHdg{
  color:goldenrod;
  margin-right: .2em;
  font-size: 1.25em;
}
.itemDetail{
  color:wheat;
  font-size: 1.25em;
}


.announcementDetails{
  grid-column: 2;
  margin: 0 auto;
  /* background-color: rgba(149, 210, 249, .3); */
  background-color: rgba(33, 29, 167, 0.763);
  width: 39vw;
  text-align: center;
  font-size: 1.1em;
  color: goldenrod;
  border-left: 2px solid gold;
  border-right: 2px solid gold;
  height: 67vh;
  border-bottom: 2px solid darkgreen;
}


/* **************** Error Page **************** */
.errorPage {
  height: 150vh;
  width: 100vw;
 background-color: rgb(240, 189, 147);
}

/* *********** Announcements Index ************* */

.indexPage{
  background-image: url("./Images/church-inside-warm-wood-with-stained-glass.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-color: rgba(246, 209, 246, 0.742);
  height: 150vh;
  width: 101vw;
  margin-left: -0.4vw;
  border-top: 10px solid brown;
}
.tableHdg{
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(7fr);
}
table {
  grid-row: 2;
  display: grid;
  min-width: 100%;
  grid-template-columns: 
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr);
}

td {
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #271e08;
  margin-left:1em;
}
.announcementsListHdg{
  grid-column-start: 1;
  grid-column-end: 7;
  background-image: url("./Images/cross-in-stained-window.png");
  height: 5vh;
  width: 50vw;
}

/* ****************Index Table Headings ***************** */

.tableHdgGrid{
  display: grid;
  grid-template-columns: repeat(6, 1.65fr);
  /* margin-left: 5vw; */
  width: 80vw;
  height: 60vh;
  padding: 3vw;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.1em;
  background-color: rgba(215, 252, 240, 0.781);
  border: 2px solid slategray
}

.th{
  font-size: 1.2em;
  text-decoration: underline;
  text-align: center;
}

.viewItem{
  text-decoration: none;
  text-align: center;
  color:navy;
  font-family: bold;
}
.viewItem:hover{
text-decoration: underline;
color:green;
}
.items{
  /* text-align: center; */
  letter-spacing: .3vh;
  /* margin-left:1.5vw; */
  margin-right: 2vw;
}
  .item6, .item7{
    margin-left:1.5vw;
  }





