@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pinyon+Script&display=swap');

/* *************** Main and NavBar ************** */
.App{
  display: grid;
  grid-template-rows: .5fr 4fr;
}
.main{
  background-color: rgb(174, 206, 248);
}
.navbarHome{
  grid-row: 1;
  background-size: contain;
  width: 100vw;
  height: 135px;
  margin-left: -0.4vw;
}

.navbarIndex{
  grid-row: 1;
  background-size: contain;
  width: 100vw;
  height: 135px;
  margin-left: -0.4vw;
  }

  .navBarNew{
    height: 100vh;
  }

.navLinkBox{
  background-size: contain;
  background-repeat:no-repeat;
  height: 18vh;
  width: 98vw;
  margin-left: .5vw;
  z-index: 10;
  top: 5vh;
  position: relative;
}

.navBarHdg{
  font-family: 'Oleo Script', cursive;
  text-align: center;
  font-size: 4.5em;
  margin-left: 1.5em;
  text-decoration: none;
}

.navLinkHdg, .navLink1, .navLink2 {
  color: rgba(14, 5, 60, 0.695);
  margin: 20px;
  height: 5vh;
  width: 5vh;
  font-weight: bold;
 
}
.navLinkHdg{
  font-weight:bold;
  font-size: 2.5em;
  margin-bottom: 10vh;
  font-stretch: 150%;
  margin-left: 17vw;
  font-weight:bold;
  font-family: 'Pinyon Script', cursive;
}

.navLink1, .navLink2{
  font-size: 1.5em;
  font-weight:bold;
  margin-left: 7vw;
}
 .navLink2{
  margin-left: 15vw;
}

.navIndexLinkHdg {
  margin-left: 19vw;
}
.navIndexLinkHdg, .navIndexLink1, .navIndexLink2{
  color:rgba(242, 184, 75, 0.857)
}

#navbarVideo{
  margin: "0 auto";
  z-index: -100;
  height: 78vh;
  width: 100vw;
  position: absolute;
  object-fit: fill;
}

/* .announcmentsComponent{
  grid-row: 2;
  grid-template-rows: auto;
  min-height: 5vh;
  min-width: 6vw;
  height: 100vh;
  width: 99vw;
  padding-left: .5vw;
 
} */
.indexPageHdg{
  color:rgba(229, 175, 68, 0.937);
  text-align: center;
  font-size: 3em;
  font-family: 'Meie Script', cursive;
  background-color: #48370e7e;
}
.indexBox{
  /* grid-column-start: 2;
  grid-column-end: 7; */
  /* background-image: url("./Images/cross-in-stained-window.png"); */
  /* background-color: rgba(246, 180, 93, 0.545); */
  background-color: rgba(250, 211, 160, 0.618);
  height: 55vh;
  width: 72vw;
  border: 7px solid rgb(0, 4, 128);
  background-size: 50%;
  margin: 0 auto;
  font-weight: bolder;
} 

.indexTableRow, thead{
  display: grid;
  /* grid-template-columns: 1.25fr 1.25fr .5fr 1fr; */
  grid-template-columns: .25fr .25fr .15fr .25fr;
  width: 84vw;
}

.indexItem{
  font-family: Arial, Helvetica, sans-serif;
  font-family: bold;
  color:navy;
  font-size: 1.1em;
}


 /* ************* General Setup of Pages ************** */

.welcomeMsgBox{
  /* background-color: rgba(246, 246, 233, 0.331); */
  width: 56.5vw;
  height: 78vh;
  margin-left: 19.3vw;
  border: 2px solid rgb(196, 189, 170);
  margin-top: 3vh;
  background-image: url("./Images/goldFrame.png");
  background-color: rgba(248, 245, 236, 0.953);
  background-size:contain ;
  opacity: 0.7;
}

.welcomeMsg1{
  font-size: 2.8em;
  text-align: center;
  height: 10vh;
  font-family: 'Imperial Script', cursive;
  color: rgb(136, 22, 244);
  width: 98%;
  font-style: italic;
  font-weight: bold;
  margin-left: -0.01vw;
  margin-top: 12vw;
}
.welcomeMsg2{
  font-size: 1.8em;
  text-align: center;
  font-family: 'Meie Script', cursive;
  color: rgb(15, 15, 201);
  width: 69%;
  height: 8vh;
  font-weight: lighter;
  margin-left: 10.33vw;
}

.homePage{
  height: 90vh;
  width: 100vw;
  background-image: url("./Images/church-indoors-whitewalls-woodcharis.png");
  background-color: rgb(158, 211, 224);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -0.4vw;
  border-top: 13px solid rgb(168, 183, 198);
}

.newPage, .showPage{
  height: 90vh;
  width: 100vw;
  background-image: url("./Images/cross-in-stained-window.png");
  background-color: rgb(20, 118, 238);
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-size: cover;
}

.editPage{
  height: 90vh;
  width: 100vw;
  background-image: url("./Images/choir-clapping.png");
  background-size: cover;
}

.showPage{
  background-image: url("./Images/glorious-brown-stained-windows-sunrays.png");
}
nav.navBarShow{
  border-bottom: 3px solid #0e0eb5;
}

.newPage{
  height: 80vh;
  width: 100vw;
  /* background-image: url("./Images/cross-in-stained-window.png"); */
  /* background-color: rgb(42, 22, 9); */
  z-index: 500;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-size: cover;
  margin-top: 5vw;
}

.navShowLinkHdg, .navShowLink1, .navShowLink2{
  color:rgb(249, 191, 44);
}

/* ************ New Announcement Form ************* */

.newAnnouncementFormHdg, .editAnnouncementFormHdg{
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  font-family: 'Meie Script', cursive;
   font-family: 'Barlow', sans-serif; 
   font-family: 'Imperial Script', cursive; 
  color: rgb(222, 180, 238);
}

.newForm{
  width: 50vw;
  background-color: beige;
  opacity: .8;
  border: 5px solid deeppink;
  margin-top: 1em;
  margin-left: 23vw;
}

.newAnnouncementHdg{
  margin: 0 auto;
  height: .5vh;
}

.editAnnouncementFormHdg{
  color:rgb(13 69 33)}

.newAnnouncementFormBox, .editAnnouncementForm{
  /* grid-column-start: 2;
  grid-column-end: 3; */
  background-image: url("./Images/cross-in-stained-window.png");
  font-weight: bold;
  height: 71vh;
  border: 4px solid rgb(7, 15, 94);
}

.editAnnouncementFormBkgrd{
  background-color: rgba(248, 208, 158, 0.585);
  height: 76vh;
  margin: auto auto;
  border: 5px solid rgb(40, 21, 7);
  width: 35vw;
  
}
.editAnnouncementForm{
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("./Images/bibleAndheart.png");
  font-weight: bold;
  height: 85vh;
  border: 4px solid rgb(45, 15, 198);
  background-size: cover;
  width: 55vw;
}
label.editAnnouncmentForm{
  margin-left: 2.8vw;
  padding-right: 2vw;
  width: 4vw;
}

.editFormBox{
  display: grid;
  grid-template-columns: .5fr 3fr .5fr;
}

.editFormHdg{
  grid-column: 2;
  text-align: center;
  color: #cb0202;
  font-family: 'Pinyon Script', cursive;
  font-size: 3.2em;
  justify-content: center;
  margin-left: -5vw;
  display: inline;
  background-color: #f1ebd38c;
  border: 0.5px solid maroon;
}

.editForm{
  background-color: rgba(228, 166, 109, 0.807);
  border: 4px solid rgba(81, 28, 10, 0.731);
  grid-column: 2;
  width: 50vw;
  margin-left: 11vw;
}

label.editForm{
  margin-left:4vw;
}

input.editFormSubmit[type="submit" i], .cancelEditButton{
  background-color: rgba(141, 8, 88, 0.915);
  color:rgb(246, 211, 9);
  margin-left:19vw;
}
input.editFormSubmit[type="submit" i]:hover, .cancelEditButton:hover{
  background-color: rgb(170, 230, 233);
  color:rgb(51, 9, 71);
}
input#item-name{
  margin-left: 2.8vw;
  padding-right: 2vw;
  width: 4vw;
}

label {
margin-left: 6.8vw;
padding-right: 2vw;
font-size: 1.1em;
font-family: bolder;
}
input[type="text" i] {
  width: 26.6vw;
  height: 3vh;
  border: 2.25px solid brown;
}

input#title{
  margin-left: 4.6vw;
}
input#description{
  margin-left: 1.1vw;
}
input#type{
  margin-left: 4.4vw;
}
input#location{
  margin-left: 2.46vw;
}
input#date{
  margin-left: 4.5vw;
}
input#time{
  margin-left: 4.2vw;
}
input#contributor{
  margin-left: 1.05vw;
}
input#is_member{
  margin-left: 2.6vw;
}
input#is_public{
  margin-left: 3.6vw;
}
input.newFormSubmit[type="submit" i]{
  margin-left: 19vw;
  width: 9vw;
  height: 3.5vh ;
  font-weight: bold;
}

.cancelNewButton{
  margin-left: 3vw;
  width: 9vw;
  height: 3.5vh ;
}

input.newFormSubmit[type="submit" i], .cancelNewButton{
  background-color: rgba(249, 212, 117, 0.915);
  color:rgb(234, 9, 246);
}
input.newFormSubmit[type="submit" i]:hover, .cancelNewButton:hover{
  background-color: rgba(247, 9, 132, 0.926);
  color:rgb(248, 244, 7);
}
 .cancelSaveButton:hover{
  background-color: rgb(8, 47, 7);
  color:gold;
}

/* ******* New Announcement Form Buttons */

.cancelEditButton, .cancelSaveButton{
  width: 10.2vw;
  margin-left: .5vw;
  font-weight: bold;
}

/* ****** Edit Form Buttons ***** */

.announcementDetailsBackButton, .announcementDetailsEditButton, .announcementDetailsDeleteButton{
  background-color: rgba(244, 82, 82, 0.74);
  color: rgb(12 211 245);
  font-weight: bold;
  font-size: .85em;
  height: 4vh;
  width: 7vw;
  margin-left: .99vw;
  margin-top: -4vh;
}

.announcementDetailsBackButton{
  margin-left: 9vw;
}

.announcementDetailsBackButton:hover, .announcementDetailsEditButton:hover, .announcementDetailsDeleteButton:hover{
  background-color: rgb(8, 248, 220);
  color: rgb(8, 2, 53);
}

label.editLabel{
  margin-left: .8vw;
}

input[type="submit" i]{
  margin-left: 8.6vw;
}
/* ************ announcement Details ************* */

 /* .announcementDetailsHdg{
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  font-family: 'Meie Script', cursive;
  font-family: 'Barlow', sans-serif; 
  font-family: 'Imperial Script', cursive; 
  color: rgb(197, 197, 26);
} */

/* .itemDetailHdg{
  color:goldenrod;
  margin-right: .2em;
  font-size: 1.25em;
}
.itemDetail{
  color:wheat;
  font-size: 1.25em;
} */

.announcementDetailsBox{
  z-index: 100;
  grid-column: 2;
  margin-left: 1.2vw;
  background-color: rgba(251, 241, 203, 0.383);
  width: 43vw;
  text-align: center;
  font-size: 1.1em;
  border: 2px solid rgba(6, 250, 222, 0.893);
  height: 85vh;
  margin-top: 2vh;
}

.announcementDetails{
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 9% 9% 9% 9% 9% 9% 9%;
  margin-left: 1.6vw;
  grid-row-gap: .1vh;
  background-color: rgba(34, 29, 167, 0.712);
  width: 39vw;
  text-align: center;
  font-size: .95em;
  color: rgb(255, 238, 0);
  border: 6px solid rgba(199, 35, 10, 0.893);
  height: 79vh;
  margin-top: 2.5vh;
  font-weight: 540;
}
.detailHeader{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
.detailHdg{
  display: inline-block;
  grid-column: 1;
  text-align: left;
  margin-left: 3vw;
}
.dHdg9{
  grid-column: 2;
  margin-left: -7vw;
}
.detail{
  color: rgb(172 9 137);
  grid-column: 2;
  text-align: left;
  margin-top: 2.5vh;
  font-size: 1.2em;
  background-color: rgb(240 230 199 / 82%);
  border: 2px solid #00ff91a1;
  margin-left: -7vw;
  height: max-content;
  width: 23vw;
}
.announcementNavButtons{
  grid-column-start: 1;
  grid-column-end: 3;
}

/* **************** Error Page **************** */
.errorPage {
  height: 150vh;
  width: 100vw;
 background-color: rgb(240, 189, 147);
}

/* *********** Announcements Index ************* */


.indexItemLink{
  color: blue;
}

.indexPage{
  background-image: url("./Images/church-inside-warm-wood-with-stained-glass.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-color: rgba(246, 209, 246, 0.742);
  height: 150vh;
  width: 101vw;
  margin-left: -0.4vw;
  border-top: 10px solid brown;
}
/* .tableHdg{
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(4fr);
} */

tbody{
  display: grid;
}

.th1, .th2, .th3, .th4, .th5, .th6 {
  text-align: left;
  margin-left: 1.5vw;
  font-size: 1.3em;
  color: maroon;
}


.th1 {
  grid-column: 1;
}
.th2 {
  grid-column: 2;
}
.th3 {
  grid-column: 3;
}
.th4 {
  grid-column: 4;  
}


/* th:last-child {
  border: 0;
} */

td {

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #271e08;
  margin-left:1em;
}
.announcementsListHdg{
  grid-column-start: 1;
  grid-column-end: 7;
  background-image: url("./Images/cross-in-stained-window.png");
  height: 5vh;
  width: 50vw;
}

/* ****************Index Table Headings ***************** */

.tableHdgGrid{
  display: grid;
  grid-template-columns: repeat(6, 1.65fr);
  /* margin-left: 5vw; */
  width: 80vw;
  height: 60vh;
  padding: 3vw;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.1em;
  background-color: rgba(215, 252, 240, 0.781);
  border: 2px solid slategray
}

.th{
  font-size: 1.2em;
  text-decoration: underline;
  text-align: center;
}

.viewItem{
  text-decoration: none;
  text-align: center;
  color:navy;
  font-family: bold;
}
.viewItem:hover{
text-decoration: underline;
color:green;
}
.items{
  /* text-align: center; */
  letter-spacing: .3vh;
  /* margin-left:1.5vw; */
  margin-right: 2vw;
}
  .item6, .item7{
    margin-left:1.5vw;
  }





